#about-content {
  animation: fade-in 0.5s 1;
  text-align: justify;
  margin: auto;
  max-width: 500px;
  margin-top: 50px;
  padding: 1rem 1rem 0 1rem;
  @media screen and (min-width: 550px) {
    padding: 0;
  }
  footer {
    height: 70px;
  }
  .author-info {
    margin-bottom: 2rem;
  }
  .left-photo,
  .right-photo {
    width: 7rem;
  }
  .left-photo {
    float: left;
    margin-right: 1rem;
  }
  .right-photo {
    float: right;
    margin-left: 1rem;
  }
}