.stats-grid {
  display: grid;
  grid-template-colums: 1fr 1fr 1fr;
  .top-panel {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .bottom-panel {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .switch-selector{
    span {
      color: gray;
    }
    span.active {
      color: black;
    }
  }
}

.box-title {
  text-align: center;
}

.reset-button {
  cursor: pointer;
}

.chart-wrapper {
  display: inline-block;
}