#home-content {
    animation: fade-in 0.5s 1;
    max-width: 900px;
    margin: auto;
    padding: 4rem 0 0 0;
    @media screen and (min-width: 550px) {
        padding: 1rem 0 0 0;
    }
    section {
        display: table;
        span.smaller {
            font-size: 70%;
        }
        p {
            color: #170f29;
            padding: 2rem;
            display: table-cell;
            vertical-align: middle;
            width: 80%;
            @media screen and (orientation: portrait) {
                font-size: 9vw;
            }
            @media screen and (orientation: landscape) {
                font-size: 5vw;
            }
            &.p-right {
                text-align: right;
            }
            &.p-left {
                float: left;
            }
            opacity: 0.15;
            transform: scale(0.75);
            transition: transform 5s,
            opacity 1s;
        }
        &.active {
            p {
                opacity: 1;
            }
            p.p-left {
                transform: scale(1) translateX(1rem);
            }
            p.p-right {
                transform: scale(1) translateX(-1rem);
            }
        }
        position: relative;
        width: 100%;
        min-height: 55vh;
    }
    #section-4 {
        margin-bottom: 200px;
    }
}