#home-content {
    animation: fade-in 0.5s 1;
    max-width: 900px;
    margin: auto;
    padding: 4rem 0 0 0;
    div.background {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        background-size: cover;
        opacity: 0.3;
        background-position: 0 0;
        transition: background-color 1s, background-image 1s, background-position 10s;
        &.slide-1 {
            background-position: -5% -10%;
            background-image: url(../../../assets/images/bg-1.png);
        }
        &.slide-2 {
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8kZcD-1FpD5__8nJo8kzQ22YIsGZ-Qto9yGMNM3OBNGn687V1);
        }
    }
    @media screen and (min-width: 550px) {
        padding: 1rem 0 0 0;
    }
    section {
        display: table;
        span.smaller {
            font-size: 70%;
        }
        p {
            color: #170f29;
            padding: 2rem;
            display: table-cell;
            vertical-align: middle;
            width: 80%;
            @media screen and (orientation: portrait) {
                font-size: 9vw;
            }
            @media screen and (orientation: landscape) {
                font-size: 5vw;
            }
            &.p-right {
                text-align: right;
            }
            &.p-left {
                float: left;
            }
            opacity: 0.15;
            transform: scale(0.75);
            transition: transform 5s,
            opacity 1s;
        }
        &.active {
            p {
                opacity: 1;
            }
            p.p-left {
                transform: scale(1) translateX(1rem);
            }
            p.p-right {
                transform: scale(1) translateX(-1rem);
            }
        }
        position: relative;
        width: 100%;
        min-height: 55vh;
    }
    #section-4 {
        margin-bottom: 200px;
    }
}