$deep-blue: #170f29;
nav {
    top: 0;
    .nav-content-wrapper a.nav-link {
        display: none;
    }
    #burger-menu {
        position: absolute;
        left: 1rem;
        color: white;
        font-size: 300%;
    }
    a .logo {
        z-index: 5;
        background-color: transparentize($deep-blue, 0.5);
        display: block;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    } // Desktop media query
    a.nav-link {
        &:before {
            content: "";
            position: absolute;
            width: 140%;
            bottom: -1.3rem;
            left: -20%;
            border-radius: 5px;
            height: 2.5px;
            background-color: transparentize(white, 0.55);
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.2s ease-in-out 0s;
            transition: all 0.2s ease-in-out 0s;
        }
        &:hover:before,
        &.active:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }
    @media screen and (min-width: 550px) {
        #burger-menu {
            display: none;
        }
        .nav-content-wrapper {
            max-width: 960px;
            margin: auto;
            position: relative;
            a.nav-link {
                display: inline;
            }
        }
        a .logo {
            left: 2rem;
            transform: none;
        }
    }
    text-align: center;
    font-size: 120%;
    background-color: $deep-blue;
    color: white;
    border-bottom: 1px solid #ebebeb;
    height: 4rem;
    line-height: 4rem;
    position: fixed;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 10px 0px #e7e7e7;
    z-index: 10;
}

a.nav-link {
    text-decoration: none;
    position: relative;
    margin: 1rem;
    color: #bdbdbd;
    transition: color 0.5s;
    &.active,
    &:hover {
        color: white;
    }
}

#side-menu-mask {
    visibility: hidden;
    opacity: 0;
    background-color: transparentize(black, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 24;
    transition: visibility 1s, opacity 1s;
    &.active {
        visibility: visible;
        opacity: 1;
    }
}

#side-menu {
    width: 85%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -85%;
    transition: left 0.45s;
    z-index: 25;
    background-color: $deep-blue;
    a {
        text-decoration: none;
    }
    a.nav-link,
    .logo {
        font-size: 150%;
        display: block;
        margin: 2rem;
        height: 2rem;
    }
    .logo {
        margin: 1rem 25% 1rem 1rem;
        text-align: right;
        font-size: 1.6rem;
    }
    &.active {
        left: 0;
        box-shadow: 5px 0px 5px 0px transparentize(black, 0.5);
    }
}

.logo {
    color: white;
    font-family: 'raleway-bold', 'Arial Narrow', Arial, sans-serif;
    font-size: 137%;
}

body {
    padding-top: 1rem;
    @media screen and (min-width: 550px) {
        padding-top: 5rem;
    }
}